---
//server side JavaScript Code
const maintainers = [
    'Navdha',
    'Aarjav',
    'Ghautham',
    'Aasa'
];
---


<div>
    <ul>
        {maintainers.map((maintainer) => <li>{maintainer}</li>)}  
    </ul>
</div>